<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Quan LY Sinh Vien CodeGYm </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

            function addNewStudent() {
                let name = $("#name").val();
                let address = $("#address").val();
                let img = $("#img").val();
                let classesId = $("#classes").val();
                let student = {
                    name: name,
                    address: address,
                    img: img,
                    classRoom: {
                        id: classesId
                    }
                };
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    data: JSON.stringify(student),
                    url: "/students",
                    success: successHandle
                });
                event.preventDefault();

        }

        function successHandle() {
            $.ajax({
                type: "GET",
                url: "/student/success",
                success: function (data) {
                    let content = ' <tr>\n' +
                        '            <th>Name</th>\n' +
                        '            <th>ADDRESS</th>\n' +
                        '            <th>IMAGE</th>\n' +
                        '            <th>CLASS</th>\n' +
                        '            <th>EDIT</th>\n' +
                        '            <th>DELETE</th>\n' +
                        '        </tr>'
                    for (let i = 0; i < data.length; i++) {
                        content += getStudent(data[i]);
                    }
                    document.getElementById("students").innerHTML = content;
                }
            });
            event.preventDefault();
        }

        function getStudent(student) {
            return ` <tr >
            <td> ${student.name}</td>
            <td >${student.address}</td>
            <td><img th:src="${student.img}"></td>
            <td> ${student.classRoom.name}</td>` +
                `  <td>
                <button id="edit" value="${student.id}" onclick="editStudent(this)">Edit</button>
            </td>
            <td>
                <button id="delete" value="${student.id}" onclick="deleteStudent(this)">Delete</button>
            </td>`
        }

        function editStudent(kax) {
            let id = kax.getAttribute("value");
            $.ajax({
                type: "GET",
                url: "/students/" + id,
                success: function (data) {
                    let content = '   <label >Name</label>\n' +
                        '    <input type="text" id="updateName" value="' + data.name + '">\n' +
                        '    <label >Address</label>\n' +
                        '    <input type="text" id="updateAddress" value="' + data.address + '">\n' +
                        '    <label >Img</label>\n' +
                        '    <input type="text" id="updateImg" value="' + data.img + '">\n' +
                        '    <label >Class</label>\n' +
                        '    <select >   ' +
                        '<option id="updateClassRoom"' +
                        '               value="1">1</option>\n' +
                        '    </select>' +
                        ' <button id="updateStudent" onclick="updateStudent(this)" value="' + data.id + '">Update</button>';
                    document.getElementById("update").innerHTML = content;
                }
            });
            event.preventDefault();
        }

        function updateStudent(kax) {
            let name = $("#name").val();
            let address = $("#address").val();
            let img = $("#img").val();
            let classesId = $("#classes").val();
            let student = {
                name: name,
                address: address,
                img: img,
                classRoom: {
                    id: classesId
                }
            };
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                data: JSON.stringify(student),
                url: "/students" + id,
                success: successHandle
            });
            event.preventDefault();
        }
        function  deleteStudent(kax){
            let id = kax.getAttribute("value");
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type:"DELETE",
                url:"/api/students/"+id,
                success : successHandle
            });
            event.preventDefault();
        }
    </script>
</head>
<body>
<div>
    <h1>Danh sach lop hoc Cua CodeGym</h1>
    <table border="1">
        <tr>
            <th>Stt</th>
            <th>Danh sach Lop</th>
        </tr>
        <tr th:each="class : ${classRoom}">
            <td th:text="${class.id}"></td>
            <td th:text="${class.name}"></td>
        </tr>

    </table>
</div>
<div>
    <h1>Them Sinh Vien Vao Danh Sach</h1>
    <form>
        <label>Name</label>
        <input type="text" id="name">
        <label>Address</label>
        <input type="text" id="address">
        <label>Img</label>
        <input type="text" id="img">
        <label>Class</label>
        <select>
            <option id="classes" th:each="class: ${classRoom}"
                    th:text="${class.name}"
                    th:value="${class.id}"></option>
        </select>
    </form>
    <button id="create" onclick="addNewStudent()">Add Students gooooo !!!!</button>
</div>
<h1>Danh sach Sinh Vien Codegym</h1>
<div>
    <table border="1" id="students">
        <tr>
            <th>Name</th>
            <th>ADDRESS</th>
            <th>IMAGE</th>
            <th>CLASS</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.address}"></td>
            <td><img th:src="${student.img}"></td>
            <td th:text="${student.classRoom.name}"></td>
            <td>
                <button id="edit" th:value="${student.id}" onclick="editStudent(this)">Edit</button>
            </td>
            <td>
                <button id="delete" th:value="${student.id}" onclick="deleteStudent(this)">Delete</button>
            </td>
        </tr>
    </table>

</div>
</body>
</html>